# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/
SysInfo.txt

# IDE/Generated
.vs/
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.suo
*.svd
*.pdb
*.mdb
.idea/

# powershell function might even delete their caches if they ran it carelessly
clean-unity.ps1